<%= stylesheet_link_tag 'searches' %>

<h1>Article Search</h1>
<div class="search-box">
    <input type="text" id="searchInput" placeholder="Type here to search articles..." autocomplete="off" aria-label="Search articles" class="search-input">
    <div id="searchResults" class="search-results"></div>
</div>